<section>

	<h3 id='about-me'>About Myself</h3>
	
	<!-- <div class="face-lockup"> -->

	<div class="face-img"></div>

	<!--<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>

	</div> -->
	<div class="blurb">
	<p><strong>Hello! I'm Robin</strong> and I am a reasercher and student. I am studying computer science at Texas Tech University, Lubbock Texas. 
	I work on projects related to machine learining, attend hackathons, enjoy biking and playing my guitar.  
	Take a look at my resume and feel free to contact me. I am currently looking for an intership for the summer of 2018. 
	</p>
	</div>
</section>