<div id="particles-about"></div>
<section class="about-section">
	<h3 id='about-me'>About Myself</h3>
	
	<!-- <div class="face-lockup"> -->
 
	<div class="face-img"></div>

	<!--<div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
    <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
    <div class="icon-browser">{% include icons/icon-browser.html %}</div>
    <div class="icon-video">{% include icons/icon-video.html %}</div>

	</div> -->
	<div class="blurb">
	<p><strong>Hello! I'm Robin</strong> a researcher and student in computer science at Texas Tech University.
	I work on projects related to machine learning, attend hackathons, enjoy biking and playing guitar. I can be found on <a href="https://github.com/robrons96" target="_blank" class="contact-unit" id = "gitHub">GitHub</a> and <a href="https://www.linkedin.com/in/robinronson/" target="_blank" class="contact-unit" id = "linkedIn">LinkedIn</a>. Take a look at my <a href="https://drive.google.com/file/d/0B60GhUm9CaBgZW1fZDFZV0tWZzQ/view" target="_blank">résumé</a> and feel free to contact me. 
	</p>
	</div>
</section>