<section class="contact-section">
	<h3 id='contact'>Contact</h3>

	<h4> <i> Let's get in touch. LinkedIn messages work best.</i> </h4>

	<div class="contact-container">

		<a  href="mailto:robin.ronson@ttu.edu" target="_top" class="contact-unit" id = "email">

		<div class="contact-overlay">
			
		</div>

		</a>

		<a href="https://www.linkedin.com/in/robinronson/" target="_blank" class="contact-unit" id = "linkedIn">

		<div class="contact-overlay">
			
		</div>

		</a>

		<a href="https://github.com/robrons96" target="_blank" class="contact-unit" id = "gitHub">

		<div class="contact-overlay">
			
		</div>

		</a>

	</div>
</section>