<footer>
	<div class="lockup">
		<div class="logo">
			<img src="thumbnail.png">
		</div>

		<div class="content-wrap">
			
			<nav>
				<a href='#about-me'>About Me</a>
				<a href='#projects'>Projects</a>
				<a href='#research'>Research</a>
				<a href='#contact'>Contact</a>
				<a href="https://drive.google.com/file/d/0B60GhUm9CaBgQmtIeUJqN19RQTQ/view?usp=sharing" target="_blank">See Resume</a>
			</nav>

			<p class="copyright">Copyright &copy <script>document.write(new Date().getFullYear())</script> ROBIN.</p>
		</div>
	</div>
</footer>