<section class="projects-section">

	<h3 id='projects'>My Projects</h3>

	<div class="thumb-container">

		<a href="https://github.com/robrons96/NeuralImageClassifier" target="_blank" class="thumb-unit" id="neural">

		<div class="thumb-overlay">
			<strong>Neural Image Classifier</strong>
			<div class="zoom-icon"></div>
		</div>
		</a>

		<a href="https://github.com/robrons96/Self-Driving-Simulation" target="_blank" class="thumb-unit" id = "self">

		<div class="thumb-overlay">
			<strong>Self-Driving Car Simulation</strong>
			<div class="zoom-icon"></div>
		</div>
		</a>

		<a href="https://github.com/robrons96/Planar-Data-Classification" target="_blank" class="thumb-unit" id = "planar">

		<div class="thumb-overlay">
			<strong>Planar Data Classification with DNN</strong>
			<div class="zoom-icon"></div>
		</div>
		</a>

		<a href="" class="thumb-unit" id = "financial">

		<div class="thumb-overlay">
			<strong>Financial time series prediction with LSTM</strong>
			<div class="zoom-icon"></div>
		</div>
		</a>

		<a href="https://github.com/robrons96/WeatherTalk" target="_blank" class="thumb-unit" id = "weather">

		<div class="thumb-overlay">
			<strong>Weather Talk ANDROID APP</strong>
			<div class="zoom-icon"></div>
		</div>
		</a>

		<a href="https://github.com/robrons96/JavaOpenGLGameEngine" target="_blank" class="thumb-unit" id = "open">

		<div class="thumb-overlay">
			<strong>Open GL based Game Engine</strong>
			<div class="zoom-icon"></div>
		</div>
		</a>
		
	</div>


</section>