<div id="particles-research"></div>
<section class="research-section">
	<h3 id='research'>Research</h3> 
	<div class="blurb">
	<p> Robin’s <a href="https://github.com/robrons96/Research-DNAngler-" target="_blank">research project</a> focuses on creation of a new
	exploratory tool for metagenomic data analysis. The core component of this tool is a new
	algorithm to measure polymorphic mutational frequencies adjacent to fixed mutations, which
	works via an integrated Java pipeline employing several existing algorithms to process raw
	genomic mutational data through steps such as assembly, blast matching, re-mapping,
	binning, and re-assembly. Ultimately, the tool will be tested and used to iteratively improve
	phasing of strains from complex cellular assemblages, allowing users to measure evolutionary
	forces and predict trajectories of infectious disease and cancer.
	</p>
	<i>- Dr. Amanda M.V. Brown</i>
	</div>

</section>