<section class="work-section">

	<h3 id='work'>Work</h3>

	<div class="blurb">
<div style="border-radius: 20px; width: 872px; height: 500px; overflow: hidden;"><iframe src="https://drive.google.com/file/d/1u75aEcn-e6jQj0A3b2-jchE-ApegLLHk/preview" width="872px" height="500px" frameborder="0" allowfullscreen></iframe></div>
		<div>My work consisted of building a comprehensive user management system for a selective organisation. The system that I built is a web application that supports features such as an automated mailer, application forms, feedback logger and user statistics. Since, the privacy of the users of this application is protected by FERPA, I have also built into this application security features such as JSON Web Tokens and utilization of single sign-on protocol. 
This application was developed using full-stack methodologies with the use of MERN Stack.
		</div>
	</div>
	

</section>