.alt-section
	background-color: $alt-bg-color

.thumb-container
	max-width: 960px
	margin: 0px auto 
	padding-bottom: 100px
	padding-left: 17px

	+clearfix

	.thumb-unit
		width: 33%
		height: 150px
		background: pink
		display: block
		float: left
		position: relative
		padding-top: 5%
		overflow: hidden

		.thumb-overlay
			+position(absolute, 0% 0px null 0px)
			height: 100%
			background: fade-out($accent-color, 0.2)
			text-align: center
			+display(flex)
			+align-items(center)
			+justify-content(space-around)
			+transform(matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1))

			strong
				display: block
				color: white
				text-transform: uppercase
				padding: 55px
				font-size: 24px
				font-family: 'Open Sans', sans-serif
				font-weight: 300
				line-height: 1.2


		&:hover .thumb-overlay
			@extend %animation

	#neural 
		background: 
			image: url(/assets/img/imageclassifier.PNG)
			position: center center
			repeat: no-repeat
			size: cover

	#self 
		background: 
			image: url(/assets/img/selfdrivingcar.jpg)
			position: center center
			repeat: no-repeat
			size: cover

	#planar 
		background: 
			image: url(/assets/img/planarclassification.PNG)
			postion: center center
			repeat: no-repeat
			size: cover

	#financial 
		background: 
			image: url(/assets/img/timeseries.jpg)
			position: center center
			repeat: no-repeat
			size: cover

	#weather 
		background: 
			image: url(/assets/img/weatherApp.png)
			position: center center
			repeat: no-repeat
			size: cover


	#open 
		background: 
			image: url(/assets/img/dragon.jpg)
			position: center center
			repeat: no-repeat
			size: cover



